In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_tf = pd.read_csv("/content/drive/MyDrive/projeto/tf.csv")
with open ("/content/drive/MyDrive/projeto/tw2.csv", encoding='UTF-8') as f:
  tw = f.read()
tw2 = tw.split(';')

df_tw = pd.DataFrame(tw2)

In [ ]:
with open ("/content/drive/MyDrive/projeto/tweets3.txt", encoding='UTF-8') as f:
  tw = f.read()
tw3 = tw.split(';')

df_tw3 = pd.DataFrame(tw3)

In [ ]:
df_tw3_ajust = df_tw3.drop_duplicates()

In [ ]:
df_tw3_ajust2 = df_tw3_ajust.reset_index()
df_tw3_ajust2 = df_tw3_ajust2.drop(columns=['index'], axis = 0)
df_tw3_ajust2 = df_tw3_ajust2.rename(columns={0:'Tweets'})

In [ ]:
tamanho = []
for linha in df_tw3_ajust2['Tweets']:
    fras_sep = linha.split()
    tam = len(fras_sep)
    tamanho.append(tam)

In [ ]:
df_tw3_ajust2['tamanho'] = tamanho

In [ ]:
df_tw3_ajust3 = df_tw3_ajust2.loc[df_tw3_ajust2 ['tamanho'] > 3 ]
df_tw3_ajust4 = df_tw3_ajust3.reset_index()
df_tw3_ajust5 = df_tw3_ajust4.drop(columns=['tamanho','index'], axis = 0)

In [ ]:
df_tw3_ajust5

                                                 Tweets
0     Essa notícia só me deu mais força para subir v...
1     En la segunda vuelta golea a Bolsonaro, en la ...
2     Normally I would just say this is desperate bu...
3     #PTNuncaMais “Vencemos a mentira no 1° turno, ...
4                   Nojento, é Bolsonaro segundo turno
...                                                 ...
3531  a burocracia para abrir a conta do nubank em o...
3532  hoje eu realmente jurei que ia acordar cedo pa...
3533  pois nesse eu precisarei de amigos cobaias par...
3534  mulher faça isso não, simone é uma latifundiár...
3535  todo mundo sabe que o gol fecha-caixao vai ser...

[3536 rows x 1 columns]

In [ ]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
      if corpusCount == 0:
        tfDict[word] = 0
      else:
        tfDict[word] = count/float(corpusCount)
    return(tfDict)

total = []
listaContagemDicionario = []
tfWordDict = []

for linha in df_tw3_ajust5['Tweets']:
    fras_sep = linha.split()
    total = set(total).union(set(fras_sep))

for linha in df_tw3_ajust5['Tweets']:
    frase_separada = linha.split()
    wordDict = dict.fromkeys(total, 0)
    for word in frase_separada:
        wordDict[word]+=1
    tfWordDict.append(computeTF(wordDict, linha))
    listaContagemDicionario.append(wordDict)

df_tf = pd.DataFrame(tfWordDict)

**Pesquisa de tweet**

# Primeira Clusterização

#Utilizamos como técnica reduzir o dataframe para 200 linhas para conseguirmos classificar de forma mais efetiva

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=0).fit(df_tf)
label = kmeans.labels_
df_tf['Cluster_1'] = label

df_tf_0 = df_tf.loc[df_tf ['Cluster_1'] == 0 ]
df_tf_1 = df_tf.loc[df_tf ['Cluster_1'] == 1 ]
df_tf_2 = df_tf.loc[df_tf ['Cluster_1'] == 2 ]
print(df_tf_0.shape)
print(df_tf_1.shape)
print(df_tf_2.shape)

(617, 16960)
(475, 16960)
(2444, 16960)

##Segunda clusterização - 0

In [ ]:
kmeans_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_0)
label_0 = kmeans_0.labels_

df_tf_0['Cluster_2'] = label_0

df_tf_0_0 = df_tf_0.loc[df_tf_0 ['Cluster_2'] == 0 ]
df_tf_0_1 = df_tf_0.loc[df_tf_0 ['Cluster_2'] == 1 ]
df_tf_0_2 = df_tf_0.loc[df_tf_0 ['Cluster_2'] == 2 ]
print(df_tf_0_0.shape)
print(df_tf_0_1.shape)
print(df_tf_0_2.shape)

(33, 16961)
(320, 16961)
(264, 16961)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:

kmeans_0_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_0_1)
label_0_1 = kmeans_0_1.labels_

df_tf_0_1['Cluster_3'] = label_0_1

df_tf_0_1_0 = df_tf_0_1.loc[df_tf_0_1 ['Cluster_3'] == 0 ]
df_tf_0_1_1 = df_tf_0_1.loc[df_tf_0_1 ['Cluster_3'] == 1 ]
df_tf_0_1_2 = df_tf_0_1.loc[df_tf_0_1 ['Cluster_3'] == 2 ]
print(df_tf_0_1_0.shape)
print(df_tf_0_1_1.shape)
print(df_tf_0_1_2.shape)

(202, 16962)
(110, 16962)
(8, 16962)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
kmeans_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_1)
label_1 = kmeans_1.labels_

df_tf_1['Cluster_2'] = label_1

df_tf_1_0 = df_tf_1.loc[df_tf_1 ['Cluster_2'] == 0 ]
df_tf_1_1 = df_tf_1.loc[df_tf_1 ['Cluster_2'] == 1 ]
df_tf_1_2 = df_tf_1.loc[df_tf_1 ['Cluster_2'] == 2 ]
print(df_tf_1_0.shape)
print(df_tf_1_1.shape)
print(df_tf_1_2.shape)

(325, 16961)
(52, 16961)
(98, 16961)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

##Segunda clusterização - 1

In [ ]:
kmeans_1_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_1_0)
label_1_0 = kmeans_1_0.labels_

df_tf_1_0['Cluster_3'] = label_1_0

df_tf_1_0_0 = df_tf_1_0.loc[df_tf_1_0 ['Cluster_3'] == 0 ]
df_tf_1_0_1 = df_tf_1_0.loc[df_tf_1_0 ['Cluster_3'] == 1 ]
df_tf_1_0_2 = df_tf_1_0.loc[df_tf_1_0 ['Cluster_3'] == 2 ]
print(df_tf_1_0_0.shape)
print(df_tf_1_0_1.shape)
print(df_tf_1_0_2.shape)

(189, 16962)
(109, 16962)
(27, 16962)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df_tf_2

kmeans_2 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2)
label_2 = kmeans_2.labels_

df_tf_2['Cluster_2'] = label_2

df_tf_2_0 = df_tf_2.loc[df_tf_2 ['Cluster_2'] == 0 ]
df_tf_2_1 = df_tf_2.loc[df_tf_2 ['Cluster_2'] == 1 ]
df_tf_2_2 = df_tf_2.loc[df_tf_2 ['Cluster_2'] == 2 ]
print(df_tf_2_0.shape)
print(df_tf_2_1.shape)
print(df_tf_2_2.shape)

(519, 16961)
(1830, 16961)
(95, 16961)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
kmeans_2_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1)
label_2_1 = kmeans_2_1.labels_

df_tf_2_1['Cluster_3'] = label_2_1

df_tf_2_1_0 = df_tf_2_1.loc[df_tf_2_1 ['Cluster_3'] == 0 ]
df_tf_2_1_1 = df_tf_2_1.loc[df_tf_2_1 ['Cluster_3'] == 1 ]
df_tf_2_1_2 = df_tf_2_1.loc[df_tf_2_1 ['Cluster_3'] == 2 ]
print(df_tf_2_1_0.shape)
print(df_tf_2_1_1.shape)
print(df_tf_2_1_2.shape)

(80, 16962)
(876, 16962)
(874, 16962)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df_tf_2_1_2
kmeans_2_1_2 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_2)
label_2_1_2 = kmeans_2_1_2.labels_

df_tf_2_1_2['Cluster_4'] = label_2_1_2

df_tf_2_1_2_0 = df_tf_2_1_2.loc[df_tf_2_1_2 ['Cluster_4'] == 0 ]
df_tf_2_1_2_1 = df_tf_2_1_2.loc[df_tf_2_1_2 ['Cluster_4'] == 1 ]
df_tf_2_1_2_2 = df_tf_2_1_2.loc[df_tf_2_1_2 ['Cluster_4'] == 2 ]
print(df_tf_2_1_2_0.shape)
print(df_tf_2_1_2_1.shape)
print(df_tf_2_1_2_2.shape)

(534, 16963)
(211, 16963)
(129, 16963)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_2_0
kmeans_2_1_2_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_2_0)
label_2_1_2_0 = kmeans_2_1_2_0.labels_

df_tf_2_1_2_0['Cluster_5'] = label_2_1_2_0

df_tf_2_1_2_0_0 = df_tf_2_1_2_0.loc[df_tf_2_1_2_0 ['Cluster_5'] == 0 ]
df_tf_2_1_2_0_1 = df_tf_2_1_2_0.loc[df_tf_2_1_2_0 ['Cluster_5'] == 1 ]
df_tf_2_1_2_0_2 = df_tf_2_1_2_0.loc[df_tf_2_1_2_0 ['Cluster_5'] == 2 ]
print(df_tf_2_1_2_0_0.shape)
print(df_tf_2_1_2_0_1.shape)
print(df_tf_2_1_2_0_2.shape)

(70, 16964)
(197, 16964)
(267, 16964)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1
kmeans_2_1_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1)
label_2_1_1 = kmeans_2_1_1.labels_

df_tf_2_1_1['Cluster_4'] = label_2_1_1

df_tf_2_1_1_0 = df_tf_2_1_1.loc[df_tf_2_1_1 ['Cluster_4'] == 0 ]
df_tf_2_1_1_1 = df_tf_2_1_1.loc[df_tf_2_1_1 ['Cluster_4'] == 1 ]
df_tf_2_1_1_2 = df_tf_2_1_1.loc[df_tf_2_1_1 ['Cluster_4'] == 2 ]
print(df_tf_2_1_1_0.shape)
print(df_tf_2_1_1_1.shape)
print(df_tf_2_1_1_2.shape)

(4, 16963)
(14, 16963)
(858, 16963)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2
kmeans_2_1_0_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2)
label_2_1_0_1 = kmeans_2_1_0_1.labels_

df_tf_2_1_1_2['Cluster_5'] = label_2_1_0_1

df_tf_2_1_1_2_0 = df_tf_2_1_1_2.loc[df_tf_2_1_1_2 ['Cluster_5'] == 0 ]
df_tf_2_1_1_2_1 = df_tf_2_1_1_2.loc[df_tf_2_1_1_2 ['Cluster_5'] == 1 ]
df_tf_2_1_1_2_2 = df_tf_2_1_1_2.loc[df_tf_2_1_1_2 ['Cluster_5'] == 2 ]
print(df_tf_2_1_1_2_0.shape)
print(df_tf_2_1_1_2_1.shape)
print(df_tf_2_1_1_2_2.shape)

(32, 16964)
(808, 16964)
(18, 16964)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2_1
kmeans_2_1_0_1_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2_1)
label_2_1_0_1_1 = kmeans_2_1_0_1_1.labels_

df_tf_2_1_1_2_1['Cluster_6'] = label_2_1_0_1_1

df_tf_2_1_1_2_1_0 = df_tf_2_1_1_2_1.loc[df_tf_2_1_1_2_1 ['Cluster_6'] == 0 ]
df_tf_2_1_1_2_1_1 = df_tf_2_1_1_2_1.loc[df_tf_2_1_1_2_1 ['Cluster_6'] == 1 ]
df_tf_2_1_1_2_1_2 = df_tf_2_1_1_2_1.loc[df_tf_2_1_1_2_1 ['Cluster_6'] == 2 ]
print(df_tf_2_1_1_2_1_0.shape)
print(df_tf_2_1_1_2_1_1.shape)
print(df_tf_2_1_1_2_1_2.shape)

(709, 16965)
(58, 16965)
(41, 16965)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2_1_0
kmeans_2_1_0_1_1_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2_1_0)
label_2_1_0_1_1_0 = kmeans_2_1_0_1_1_0.labels_

df_tf_2_1_1_2_1_0['Cluster_7'] = label_2_1_0_1_1_0

df_tf_2_1_1_2_1_0_0 = df_tf_2_1_1_2_1_0.loc[df_tf_2_1_1_2_1_0 ['Cluster_7'] == 0 ]
df_tf_2_1_1_2_1_0_1 = df_tf_2_1_1_2_1_0.loc[df_tf_2_1_1_2_1_0 ['Cluster_7'] == 1 ]
df_tf_2_1_1_2_1_0_2 = df_tf_2_1_1_2_1_0.loc[df_tf_2_1_1_2_1_0 ['Cluster_7'] == 2 ]
print(df_tf_2_1_1_2_1_0_0.shape)
print(df_tf_2_1_1_2_1_0_1.shape)
print(df_tf_2_1_1_2_1_0_2.shape)

(58, 16966)
(627, 16966)
(24, 16966)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2_1_0_1
kmeans_2_1_0_1_1_0_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2_1_0_1)
label_2_1_0_1_1_0_1 = kmeans_2_1_0_1_1_0_1.labels_

df_tf_2_1_1_2_1_0_1['Cluster_8'] = label_2_1_0_1_1_0_1

df_tf_2_1_1_2_1_0_1_0 = df_tf_2_1_1_2_1_0_1.loc[df_tf_2_1_1_2_1_0_1 ['Cluster_8'] == 0 ]
df_tf_2_1_1_2_1_0_1_1 = df_tf_2_1_1_2_1_0_1.loc[df_tf_2_1_1_2_1_0_1 ['Cluster_8'] == 1 ]
df_tf_2_1_1_2_1_0_1_2 = df_tf_2_1_1_2_1_0_1.loc[df_tf_2_1_1_2_1_0_1 ['Cluster_8'] == 2 ]
print(df_tf_2_1_1_2_1_0_1_0.shape)
print(df_tf_2_1_1_2_1_0_1_1.shape)
print(df_tf_2_1_1_2_1_0_1_2.shape)

(4, 16967)
(3, 16967)
(620, 16967)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2_1_0_1_2
kmeans_2_1_0_1_1_0_1_2 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2_1_0_1_2)
label_2_1_0_1_1_0_1_2 = kmeans_2_1_0_1_1_0_1_2.labels_

df_tf_2_1_1_2_1_0_1_2['Cluster_9'] = label_2_1_0_1_1_0_1_2

df_tf_2_1_1_2_1_0_1_2_0 = df_tf_2_1_1_2_1_0_1_2.loc[df_tf_2_1_1_2_1_0_1_2 ['Cluster_9'] == 0 ]
df_tf_2_1_1_2_1_0_1_2_1 = df_tf_2_1_1_2_1_0_1_2.loc[df_tf_2_1_1_2_1_0_1_2 ['Cluster_9'] == 1 ]
df_tf_2_1_1_2_1_0_1_2_2 = df_tf_2_1_1_2_1_0_1_2.loc[df_tf_2_1_1_2_1_0_1_2 ['Cluster_9'] == 2 ]
print(df_tf_2_1_1_2_1_0_1_2_0.shape)
print(df_tf_2_1_1_2_1_0_1_2_1.shape)
print(df_tf_2_1_1_2_1_0_1_2_2.shape)

(615, 16968)
(4, 16968)
(1, 16968)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_1_1_2_1_0_1_2_0
kmeans_2_1_0_1_1_0_1_2_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_1_1_2_1_0_1_2_0)
label_2_1_0_1_1_0_1_2_0 = kmeans_2_1_0_1_1_0_1_2_0.labels_

df_tf_2_1_1_2_1_0_1_2_0['Cluster_10'] = label_2_1_0_1_1_0_1_2_0

df_tf_2_1_1_2_1_0_1_2_0_0 = df_tf_2_1_1_2_1_0_1_2_0.loc[df_tf_2_1_1_2_1_0_1_2_0 ['Cluster_10'] == 0 ]
df_tf_2_1_1_2_1_0_1_2_0_1 = df_tf_2_1_1_2_1_0_1_2_0.loc[df_tf_2_1_1_2_1_0_1_2_0 ['Cluster_10'] == 1 ]
df_tf_2_1_1_2_1_0_1_2_0_2 = df_tf_2_1_1_2_1_0_1_2_0.loc[df_tf_2_1_1_2_1_0_1_2_0 ['Cluster_10'] == 2 ]
print(df_tf_2_1_1_2_1_0_1_2_0_0.shape)
print(df_tf_2_1_1_2_1_0_1_2_0_1.shape)
print(df_tf_2_1_1_2_1_0_1_2_0_2.shape)

(1, 16969)
(587, 16969)
(27, 16969)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_2_0

kmeans_2_0 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_0)
label_2_0 = kmeans_2_0.labels_

df_tf_2_0['Cluster_3'] = label_2_0

df_tf_2_0_0 = df_tf_2_0.loc[df_tf_2_0 ['Cluster_3'] == 0 ]
df_tf_2_0_1 = df_tf_2_0.loc[df_tf_2_0 ['Cluster_3'] == 1 ]
df_tf_2_0_2 = df_tf_2_0.loc[df_tf_2_0 ['Cluster_3'] == 2 ]
print(df_tf_2_0_0.shape)
print(df_tf_2_0_1.shape)
print(df_tf_2_0_2.shape)

(82, 16962)
(393, 16962)
(44, 16962)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_tf_2_0_1
kmeans_2_0_1 = KMeans(n_clusters=3, random_state=0).fit(df_tf_2_0_1)
label_2_0_1 = kmeans_2_0_1.labels_

df_tf_2_0_1['Cluster_4'] = label_2_0_1

df_tf_2_0_1_0 = df_tf_2_0_1.loc[df_tf_2_0_1 ['Cluster_4'] == 0 ]
df_tf_2_0_1_1 = df_tf_2_0_1.loc[df_tf_2_0_1 ['Cluster_4'] == 1 ]
df_tf_2_0_1_2 = df_tf_2_0_1.loc[df_tf_2_0_1 ['Cluster_4'] == 2 ]
print(df_tf_2_0_1_0.shape)
print(df_tf_2_0_1_1.shape)
print(df_tf_2_0_1_2.shape)

(238, 16963)
(47, 16963)
(108, 16963)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_tf_0_0['classificacao']= 'positivo'
df_tf_0_2['classificacao']= 'neutro'
df_tf_0_1_0['classificacao']= 'negativo'
df_tf_0_1_1['classificacao']= 'negativo'
df_tf_0_1_2['classificacao']= 'negativo'
df_tf_1_1['classificacao']= 'positivo'
df_tf_1_2['classificacao']= 'positivo'
df_tf_1_0_0['classificacao']= 'negativo'
df_tf_1_0_1['classificacao']= 'negativo'
df_tf_1_0_2['classificacao']= 'positivo'
df_tf_2_2['classificacao']= 'negativo'
df_tf_2_1_0['classificacao']= 'negativo'
df_tf_2_1_2_1['classificacao']= 'negativo'
df_tf_2_1_2_2['classificacao']= 'negativo'
df_tf_2_1_2_0_0['classificacao']= 'neutro'
df_tf_2_1_2_0_1['classificacao']= 'positivo'
df_tf_2_1_2_0_2['classificacao']= 'positivo'
df_tf_2_1_1_0['classificacao']= 'negativo'
df_tf_2_1_1_1['classificacao']= 'positivo'
df_tf_2_1_1_2_0['classificacao']= 'neutro'
df_tf_2_1_1_2_2['classificacao']= 'negativo'
df_tf_2_1_1_2_1_1['classificacao']= 'neutro'
df_tf_2_1_1_2_1_2['classificacao']= 'neutro'
df_tf_2_1_1_2_1_0_0['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_2['classificacao']= 'positivo'
df_tf_2_1_1_2_1_0_1_0['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_1_1['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_1_2_1['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_1_2_2['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_1_2_0_0['classificacao']= 'negativo'
df_tf_2_1_1_2_1_0_1_2_0_1['classificacao']= 'positivo'
df_tf_2_1_1_2_1_0_1_2_0_2['classificacao']= 'positivo'
df_tf_2_0_0['classificacao']= 'positivo'
df_tf_2_0_2['classificacao']= 'negativo'
df_tf_2_0_1_0['classificacao']= 'negativo'
df_tf_2_0_1_1['classificacao']= 'negativo'
df_tf_2_0_1_2['classificacao']= 'negativo'

In [ ]:
df_1 = df_tf_0_0.drop(columns=['Cluster_1', 'Cluster_2'], axis=0)
df_2 = df_tf_0_2.drop(columns=['Cluster_1', 'Cluster_2'], axis=0)
df_3 = df_tf_0_1_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_4 = df_tf_0_1_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_5 = df_tf_0_1_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_6 = df_tf_1_1.drop(columns=['Cluster_1', 'Cluster_2'], axis=0)
df_7 = df_tf_1_2.drop(columns=['Cluster_1', 'Cluster_2'], axis=0)
df_8 = df_tf_1_0_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_9 = df_tf_1_0_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_10 = df_tf_1_0_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_11 = df_tf_2_2.drop(columns=['Cluster_1', 'Cluster_2'], axis=0)
df_12 = df_tf_2_1_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_13 = df_tf_2_1_2_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_14 = df_tf_2_1_2_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_15 = df_tf_2_1_2_0_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5'], axis=0)
df_16 = df_tf_2_1_2_0_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5'], axis=0)
df_17 = df_tf_2_1_2_0_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5'], axis=0)
df_18 = df_tf_2_1_1_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_19 = df_tf_2_1_1_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_20 = df_tf_2_1_1_2_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5'], axis=0)
df_21 = df_tf_2_1_1_2_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5'], axis=0)
df_22 = df_tf_2_1_1_2_1_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6'], axis=0)
df_23 = df_tf_2_1_1_2_1_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6'], axis=0)
df_24 = df_tf_2_1_1_2_1_0_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7'], axis=0)
df_25 = df_tf_2_1_1_2_1_0_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7'], axis=0)
df_26 = df_tf_2_1_1_2_1_0_1_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8'], axis=0)
df_27 = df_tf_2_1_1_2_1_0_1_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8'], axis=0)
df_28 = df_tf_2_1_1_2_1_0_1_2_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8', 'Cluster_9'], axis=0)
df_29 = df_tf_2_1_1_2_1_0_1_2_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8', 'Cluster_9'], axis=0)
df_30 = df_tf_2_1_1_2_1_0_1_2_0_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8', 'Cluster_9', 'Cluster_10'], axis=0)
df_31 = df_tf_2_1_1_2_1_0_1_2_0_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8', 'Cluster_9', 'Cluster_10'], axis=0)
df_32 = df_tf_2_1_1_2_1_0_1_2_0_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4', 'Cluster_5','Cluster_6', 'Cluster_7', 'Cluster_8', 'Cluster_9', 'Cluster_10'], axis=0)
df_33 = df_tf_2_0_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_34 = df_tf_2_0_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3'], axis=0)
df_35 = df_tf_2_0_1_0.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_36 = df_tf_2_0_1_1.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)
df_37 = df_tf_2_0_1_2.drop(columns=['Cluster_1', 'Cluster_2','Cluster_3', 'Cluster_4'], axis=0)

In [ ]:
df_final = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16
                      ,df_17,df_18,df_19,df_20,df_21,df_22,df_23,df_24,df_25,df_26,df_27,df_28,df_29,df_30
                      ,df_31,df_32,df_33,df_34,df_35,df_36,df_37])

In [ ]:
df_tw3_ajust5['classificacao'] = df_final['classificacao']

In [ ]:
df_tw3_ajust5.to_csv(sep=';')

In [ ]:
df_final

#Criação de um csv com as primeiras mil colunas para entrega ao professor, o colab não teve memória suficiente para criar o CSV com 36k de colunas.

In [ ]:
df_final_2 = df_final.iloc[:,15960:16960]
df_final_2

,já),fiquei,incriminar,PL.,conseguiram,ANVISA,Diaz,nordeste.,destituir,ruas…,...,CONCIENCIA,"idiotas,",humildade,carne,fans,Mimimi,xigamento,mantê-los,bora,classificacao
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,positivo
280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,positivo
408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,positivo
558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,positivo
588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,positivo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,negativo
3142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,negativo
3235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,negativo
3271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,negativo
3403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,negativo

In [ ]:
from google.colab import files
df_final.to_csv('tf_rotulado2.csv',sep=";")

files.download('tf_rotulado2.csv')

In [ ]:
linha = int(input("Insira o numero da linha: "))

df_tw3_ajust2[linha:linha+1]

Insira o numero da linha: 33

                                               Tweets  tamanho
33  Acho que final de mês é dia de manda o papo na...       31